$bgcolor : #fbe0a7; // dark blue

html{
	scroll-behavior: smooth;
}

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

body{
  background-color: $bgcolor;
}

.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .main-title{


    .github-link{
      display: block;
      height: 40px;
			width: 40px;
			margin: auto;
      background: no-repeat url('../content/github-brands.svg');
    }
  }
}

/* Mobile Styles */
@media only screen and (max-width: 400px){

}
/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {

}

/* Desktop Styles */
@media only screen and (min-width: 961px){

}
