$bgcolor : #ececec; // light grey
$white: #fff;
$headerbg: #324e91;

$on-small : 600px;
$on-medium : 768px;
$on-large : 992px;
$on-extralarge : 1200px;

@mixin button($color, $size, $background: $white){
  color: $color;
  font-size: $size;
  background-color: $background;
}

@mixin media-query($device){
  @media screen and (min-width: $device){
    @content;
  }
}

@import "theme/initialize";